
#main {
	font-family: 'montserrat', sans-serif;
    background-color: #EEF1E6;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#title {
	font-size: 30px;
	font-family: 'montserrat', sans-serif;
	text-align: center;
    color: #15081A;
    background-color: #BAC6BC;
    padding: 50px;
    margin: 0px;
    
}


#section1 {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 50px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 50px;
}

#section1.5 {
    display: flex;
    flex-direction: column;
}
#image {
    width: 500px;
    height: auto;
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
   
}

#img-caption {
font-style: italic;
}

#intro-text {
    text-align: justify;
}

#section2 {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 50px;
}

#section2.5 {
    display: flex;
    flex-direction: column;
}
#image2{
    
}

#img-caption2 {
    font-style: italic;
}

#info-text {
    text-align: justify;
}

footer {
   /* overflow: hidden;
	height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0; */
    
}
.footer-img {
    flex: 2 0;
    min-width: 100%;
    min-height: 100%; 
}
