
#main {
	font-family: 'montserrat', sans-serif;
    background-color: #EEF1E6;
    margin: 0px;
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header"
      "body body"
      "footer footer";
}

#title {
	font-size: 30px;
	font-family: 'montserrat', sans-serif;
	text-align: center;
    color: #15081A;
    background-color: #BAC6BC;
    padding: 50px;
    margin: 0px;
    grid-area: header;
}

#image {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: body;
}

#section1 {
    grid-area: body;
}

#section2 {
    grid-area: body;
}

#img-caption {
	text-align: center;
	text-transform: italicize;

}

#intro-text {
    
}

#image2{
    
}

#img-caption2 {
    
}

#info-text {
    
}

footer {
    overflow: hidden;
	height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    grid-area: footer;
}
.footer-img {
    flex: 2 0;
    min-width: 100%;
    min-height: 100%; 
}
