
#main {
	font-family: 'montserrat', sans-serif;
    font-size: 16px;
    color: #15081A;
    background-color: #EEF1E6;
    margin: 0px;
    display: flex;
    flex-direction: column;
    column-gap: 50px;
}

#title {
	font-size: 30px;
	font-family: 'montserrat', sans-serif;
	text-align: center;
    color: #15081A;
    background-color: #BAC6BC;
    padding: 50px;
    margin: 0px;
    
}


#section1 {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 50px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 50px;
    justify-content: center;
}

@media (max-width: 1201px) {
    #section1 {
        flex-flow: row wrap;
        max-width: 100%; 
    }
}

@media (max-width: 1201px) {
    #image {
        max-width: 100%;  
    }
}
#section1.5 {
    display: flex;
    flex-direction: column;
}
#image {
    width: 500px;
    height: auto;
}

#img-caption {
font-style: italic;
}

#intro-text {
    text-align: justify;
    margin: 0px;
}

#section2 {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    column-gap: 50px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px 50px 50px 50px;
    justify-content: center;
}

@media (max-width: 1201px) {
    #section2 {
        flex-flow: row wrap;
        max-width: 100%; 
    }
}

@media (max-width: 1201px) {
    #image2 {
        max-width: 100%;  
    }
}

#section2.5 {
    display: flex;
    flex-direction: column;
}
#image2{
    width: 500px;
    height: auto;
}

#img-caption2 {
    font-style: italic;
}

#info-text {
    text-align: justify;
    margin: 0px;
}
.button {
    display: flex;
    justify-content: space-around;
}
a {
    color: #fff;
    background-color: #4C1D48;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    padding: 15px 40px 15px 40px;
    border: 0px;
    margin: 0px 0px 50px 0px;
    text-align: center;
    transition-duration: 0.4s;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { 
    text-decoration: none; 
    background-color: #A26074;
}

a:active { text-decoration: none; }

footer {
   overflow: hidden;
	height: 280px;
    width: 100%;
    position: bottom;
    
}
.footer-img {
    flex: 2 0 0;
    min-width: 100%;
    min-height: 100%; 
}
